
<style type="text/css">

.avatar, .item-avatar .avatar {
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    display: inline-block;
    height: 65px;
    left: 16px;
    position: absolute;
    width: 75px;
}

.card .item.item-avatar {
    min-height: 88px;
    padding-left: 99px;
}


</style>
 
    <ion-view view-title="{{getTitulo()}}">



     <ion-content style='background-color: #444' >



    <label style='      padding-bottom: 15px;
    border-left: none;
    border-right: none;' class="item item-input item-stacked-label item-select">
    <div style='color: #fafafa !important; width: 90% !important' class="input-label">
    Filtrar por ciudad
    </div>
    <select style="   margin-top: 10px;
  position: relative;
    width: 65%;
    display: block;" ng-model='filtroBusqueda' >
   
      <option value='1' >Armenia</option>
      <option value='2'>Barrancabermeja</option>
      <option value='3'>Barranquilla</option>
      <option value='4'>Bogotá</option>
      <option value='5'>Cali</option>
      <option value='6'>Cartagena</option>
      <option value='7'>Cartago</option>
      <option value='8'>Cúcuta</option>
      <option value='9'>Florencia</option>
      <option value='10'>Ibagué</option>

            <option value='11'>Manizales</option>
      <option value='12'>Medellín</option>
      <option value='13'>Montería</option>
      <option value='14'>Neiva</option>
      <option value='15'>Palmira</option>
      <option value='16'>Pasto</option>
      <option value='17'>Pereira</option>
      <option value='18'>Popayán</option>
      <option value='19'>Quibdó</option>

            <option value='20'>Riohacha</option>
      <option value='21'>Andrés</option>
      <option value='22'>Santa Marta</option>
      <option value='23'>Tuluá</option>
      <option value='24'>Tunja</option>
      <option value='25'>Valledupar</option>
      <option value='26'>Villavicencio</option>
  


 filter:(!!locationFilter || undefined) && {location: locationFilter}"

    </select>
  </label>


     <div style="margin-top: 30px;
    text-align: center;
    font-size: 17px;
    color: white;" ng-show='items.length == 0' >No se encontraron resultados</div>

            <div class="item card-item" collection-repeat='a in items | orderBy : "calificacion":true | filter:(!!filtroBusqueda || undefinded) && { ciudad: filtroBusqueda }' ng-click='abrirDetalleArtista(a.idArtista)'>
            <div  class="card stable-bg ink ink-dark">
                <div style=" background-color: ghostwhite;
    font-size: 15px;
" class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/mariachi.jpg');"></span>
                    <strong>{{a.nombre}}</strong> <br> {{a.getCat(a.idCategoria)}}


                    <div class="card-footer text-right">

                        <div class="pull-left">
                            <i ng-class="{'estrellaAmarilla': a.calificacion >= 1, 'estrellaGris': a.calificacion < 1  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>

                           <i ng-class="{'estrellaAmarilla': a.calificacion >= 2, 'estrellaGris': a.calificacion < 2  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>

                             <i ng-class="{'estrellaAmarilla': a.calificacion >= 3, 'estrellaGris': a.calificacion < 3  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>

                               <i ng-class="{'estrellaAmarilla': a.calificacion >= 4, 'estrellaGris': a.calificacion < 4  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>

                                 <i ng-class="{'estrellaAmarilla': a.calificacion >= 5, 'estrellaGris': a.calificacion < 5  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>

                        </div>


                        <i class="icon ion-social-usd"></i>{{a.precioXhora}} <br>
                        <i class="icon ion-checkmark-circled balanced"></i> <strong>Disponible</strong> 

                    </div>
                </div>
            </div>
        </div>

<!-- 
                <div class="item card-item">
            <div  class="card stable-bg ink ink-dark">
                <div style=" background-color: ghostwhite;
    font-size: 15px;
" class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/solista.jpg');"></span>
                    <strong>Hernan Jimenez Peto</strong> <br> Solista


                    <div class="card-footer text-right">

                                            <div class="pull-left">
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                        </div>


                        <i class="icon ion-social-usd"></i> 110.00 <br>
                        <i class="icon ion-checkmark-circled balanced"></i> <strong>Disponible</strong> 

                    </div>
                </div>
            </div>
        </div>


                <div class="item card-item">
            <div  class="card stable-bg ink ink-dark">
                <div style=" background-color: ghostwhite;
    font-size: 15px;
" class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/mariachi.jpg');"></span>
                    <strong>Mariachi Mexicano Estrella</strong> <br> Mariachi


                    <div class="card-footer text-right">

                                            <div class="pull-left">
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='opacity: 0.2;font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='opacity: 0.2;font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                        </div>


                        <i class="icon ion-social-usd"></i> 135.00 <br>
                        <i class="icon ion-checkmark-circled balanced"></i> <strong>Disponible</strong> 

                    </div>
                </div>
            </div>
        </div>
 -->
      </ion-content>
    </ion-view>
