


<ion-view view-title="Inicio">







 <ion-content style='background-color: #fafafa'>






    <div style="text-align:center; margin-top:30px">

        <div ui-sref="app.activity" style="   width: 100px;
    display: inline-block;
    border: solid 1px #444;
    padding-top: 10px;
    vertical-align: middle;
    height: 120px;
    padding-bottom: 10px;
    margin-right: 22px;">

            <img src="img/micro.png"><br>
            <span>Serenatas</span>

        </div>
        <div style="        width: 100px;
    display: inline-block;
    border: solid 1px #444;
    padding-top: 10px;
    height: 120px;
    padding-bottom: 10px;
    vertical-align: middle;">

            <img src="img/reserva.png"><br>
            <span>Reserva para YA!</span>

        </div>


    </div>

    <div>

      <img style='    margin-top: 30px; width: 100%;
   ' src="img/logoF.png">

    </div>

  </ion-content>
</ion-view>
