
<style type="text/css">

.avatar, .item-avatar .avatar {
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    display: inline-block;
    height: 65px;
    left: 16px;
    position: absolute;
    width: 75px;
}

.card .item.item-avatar {
    min-height: 88px;
    padding-left: 99px;
}


</style>
 
    <ion-view view-title="Artistas Interesados">



     <ion-content style='background-color: #444' >

            <div class="item card-item" collection-repeat='a in arrayInteresados'>
            <div  class="card stable-bg ink ink-dark">
                <div  ng-click='abrirDetalleArtista(a.idArtista)' style=" background-color: ghostwhite;
    font-size: 15px;
" class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/mariachi.jpg');"></span>
                    <strong>{{a.nombre}}</strong> <br> {{a.getCat(a.idCategoria)}}


                    <div class="card-footer text-right">

                        <div class="pull-left">
                            <i ng-class="{'estrellaAmarilla': a.calificacion >= 1, 'estrellaGris': a.calificacion < 1  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>

                           <i ng-class="{'estrellaAmarilla': a.calificacion >= 2, 'estrellaGris': a.calificacion < 2  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>

                             <i ng-class="{'estrellaAmarilla': a.calificacion >= 3, 'estrellaGris': a.calificacion < 3  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>

                               <i ng-class="{'estrellaAmarilla': a.calificacion >= 4, 'estrellaGris': a.calificacion < 4  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>

                                 <i ng-class="{'estrellaAmarilla': a.calificacion >= 5, 'estrellaGris': a.calificacion < 5  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>

                        </div>


                        <i class="icon ion-social-usd"></i>{{a.precioXhora}} <br>
                        <i class="icon ion-checkmark-circled balanced"></i> <strong>Disponible</strong> 

                    </div>


                </div>
                 <div><button ng-click='escogerArtista(a.idArtista, a.idPublicacion)' class="button button-full button-energized"><strong>Escoger este artista</strong></button></div>
            </div>

        </div>

<div ng-show='arrayInteresados.length == 0' style="    color: white;
    text-align: center;
    font-size: 19px;
    margin-top: 30px;
        width: 80%;
    margin-left: 10%;
" > No hay artistas interesados por ahora</dir>
<!-- 
                <div class="item card-item">
            <div  class="card stable-bg ink ink-dark">
                <div style=" background-color: ghostwhite;
    font-size: 15px;
" class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/solista.jpg');"></span>
                    <strong>Hernan Jimenez Peto</strong> <br> Solista


                    <div class="card-footer text-right">

                                            <div class="pull-left">
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                        </div>


                        <i class="icon ion-social-usd"></i> 110.00 <br>
                        <i class="icon ion-checkmark-circled balanced"></i> <strong>Disponible</strong> 

                    </div>
                </div>
            </div>
        </div>


                <div class="item card-item">
            <div  class="card stable-bg ink ink-dark">
                <div style=" background-color: ghostwhite;
    font-size: 15px;
" class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/mariachi.jpg');"></span>
                    <strong>Mariachi Mexicano Estrella</strong> <br> Mariachi


                    <div class="card-footer text-right">

                                            <div class="pull-left">
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='opacity: 0.2;font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i style='opacity: 0.2;font-size: 24px;color: #dcbb0c; padding-left: 1px !important;' class="icon ion-android-star"></i>
                        </div>


                        <i class="icon ion-social-usd"></i> 135.00 <br>
                        <i class="icon ion-checkmark-circled balanced"></i> <strong>Disponible</strong> 

                    </div>
                </div>
            </div>
        </div>
 -->
      </ion-content>
    </ion-view>
