


<ion-view view-title="Mapa">







 <ion-content style='height: 100% !important'>
<div>
  <ng-map  style="position: absolute;
    width: 100%;
    padding-bottom: 87px;
    height: 100%;" zoom="14" center="37.7699298, -122.4469157" >
        <directions
          draggable="true"
          travel-mode="DRIVING"
          origin="current-location"
          destination="Montreal, Canada">
        </directions>
      </ng-map>
</div>	
  </ion-content>

      <ion-footer-bar class="bar-dark">
      <a style="margin-top: 5px;min-width: 100%;border-radius: 0px;" ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Encuentrame</a>
    </ion-footer-bar>


</ion-view>
