


<ion-view view-title="Notificaciones">







 <ion-content style='    background-color: #efefef;'>


<div style='    text-align: center;
    font-size: 19px;
    color: #555;
    margin-top: 40px;' ng-show='notificaciones.lenght'  > <img style='margin-bottom: 30px' src="img/vacio.png"> <br> No hay notificaciones</div>
 <div ng-repeat=' n in notificaciones' >
    <a style='border-bottom: solid 1px lightgray' class="item item-avatar" >
      <img ng-src="img/noti{{n.idTipoNotificacion}}.png">
      <h2 style="white-space: normal;">{{n.titulo}}</h2>
      <p>{{n.fecha}}</p>
    </a>
</div>

<!-- 

<div ng-repeat=' n in notificaciones' >
    <a style='border-bottom: solid 1px lightgray' class="item item-avatar" >
      <img src="img/noti3.png">
      <h2 style="white-space: normal;">{{n.titulo}}</h2>
      <p></p>
    </a>
</div>



<div >
    <a style='border-bottom: solid 1px lightgray' class="item item-avatar" >
      <img src="img/noti3.png">
      <h2 style="white-space: normal;">Pedro Rojas te ha enviando un mensaje</h2>
      <p>Hace 2 horas</p>
    </a>
</div>


<div  >
    <a style='border-bottom: solid 1px lightgray' class="item item-avatar" >
      <img src="img/noti2.png">
      <h2 style="white-space: normal;" >Juan Mora te quiere contratar!</h2>
      <p>Hace 2 horas</p>
    </a>
</div>


<div  >
    <a style='border-bottom: solid 1px lightgray' class="item item-avatar" >
      <img src="img/noti1.png">
      <h2 style="white-space: normal;">Se ha programado un evento para el 12/02/2020</h2>
      <p>Hace 2 horas</p>
    </a>
</div> -->

  </ion-content>
</ion-view>
