  <script id="editPerfil.html" type="text/ng-template">
      <ion-modal-view class="ion-nifty-modal">
        <div class="ion-modal-content-custom">
          <ion-content class="padding">
            <button style='       font-size: 30px;
    color: #ffc900;
    position: absolute;
    top: -21px;
    left: -17px;' class="icon ion-close-round" ng-click="closeModal()"></button>

 <div  style="  text-align: center;  padding-top: 16px;">
  
 <div style="color:#fafafa;margin-left:16px;  border-bottom:2px solid #fafafa"> <h4 style="color:#fafafa;">Editar Perfil</h4></div>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span style='color: #fafafa !important;' class="input-label">Nombre</span>
    <input ng-model='edit.nombre' style='    margin-top: 5px;' type="text" placeholder="">
  </label>



    <label class="item item-input item-stacked-label">
    <span style='color: #fafafa !important;' class="input-label">Descripcion</span>
        <textarea ng-model='edit.descripcion' rows='3'  style='  resize: none;   margin-top: 5px;' type="text" placeholder=""></textarea>
  </label>


    <label class="item item-input item-stacked-label">
    <span style='color: #fafafa !important;' class="input-label">Precio por hora</span>
    <input ng-model='edit.precioXhora' style='    margin-top: 5px;' type="number" placeholder="">
  </label>


  <label class="item item-input item-stacked-label">
    <span style='color: #fafafa !important;' class="input-label">Link youtube 1</span>
    <input ng-model='edit.linkVideo1' style='    margin-top: 5px;' type="text" placeholder="">
  </label>

    <label class="item item-input item-stacked-label">
    <span style='color: #fafafa !important;' class="input-label">Link youtube 2</span>
    <input ng-model='edit.linkVideo1' style='    margin-top: 5px;' type="text" placeholder="">
  </label>









</div>


<button ng-click='actualizarPerfil()' style='color:#444 !important; margin-top: 20px;margin-bottom: 20px' class="button button-energized button-small">Guardar</button>


    </div>
          </ion-content>
        </div>
      </ion-modal-view>
    </script>


<style type="text/css">



        .ion-nifty-modal {
      width: 100%;
      min-height: 0 !important;
      height:100% !important;
     
      
      background-color: transparent;
      border-radius: 10px;
      -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

    .ion-nifty-modal .ion-modal-content-custom {
      width: 100%;
      height: 100%;
      color: #FFF;
      background-color: #444;
      border-radius: 10px; }

    /* Fix modal backdrop for smaller devices */
    @media (max-width: 679px) {
      .active .modal-backdrop-bg {
        opacity: .5; }
      .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0; } }


.list .item{
            margin-left: 0px !important;
    }
    </style>


<ion-view view-title="Perfil">
    <ion-content ng-class="{expanded:$scope.isExpanded}" style='background-color: #fafafa;' overflow-scroll="true">
      <!--   <div class="hero slide-up" style="background-image: url('img/music2.jpeg');"> -->

      <div class="hero slide-up" style="    background-position: 4px -41px; background-image: url('img/guitar.jpg');"> 

            <div class="content">
                <div class="avatar" ng-style="{'background-image':'url({{urlImagenes}}artista1_{{idArtista}}.jpg)'}" ></div>
                
             <a class="icon ion-edit" " ng-click='editarPerfil()' style="color:#d0d0d0;font-size: 32px;position: absolute;top: -30px;right: 0px;margin-right: 25px;"></a>


                <h3><a class="light">{{infoPerfil.nombre}}</a></h3>
               <div>                            
                            <i ng-class="{'estrellaAmarilla': infoPerfil.calificacion >= 1, 'estrellaGris': infoPerfil.calificacion < 1  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i ng-class="{'estrellaAmarilla': infoPerfil.calificacion >= 2, 'estrellaGris': infoPerfil.calificacion < 2  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i ng-class="{'estrellaAmarilla': infoPerfil.calificacion >= 3, 'estrellaGris': infoPerfil.calificacion < 3  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i ng-class="{'estrellaAmarilla': infoPerfil.calificacion >= 4, 'estrellaGris': infoPerfil.calificacion < 4  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i ng-class="{'estrellaAmarilla': infoPerfil.calificacion >= 5, 'estrellaGris': infoPerfil.calificacion < 5  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>

                </div>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">

            <a   ng-class="{active: tipoTab == 'info'}" class="tab-item active" ng-click="tipoTab = 'info'">
                <i class="icon ion-ios-information"></i> Contactar
            </a>


            <a  ng-class="{active: tipoTab == 'video'}"  class="tab-item" ng-click="tipoTab = 'video'">
                <i class="icon ion-social-youtube"></i> Multimedia
            </a>

            <a   ng-class="{active: tipoTab == 'fotos'}" class="tab-item" ng-click="tipoTab = 'fotos'">
                <i class="icon ion-images"></i> Comentarios
            </a>




        </div>

<div  ng-if="tipoTab == 'info'">
<div style="text-align: center; margin-top:25px;    padding-bottom: 22px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.45);">
          <div style="    width: 40%;display: inline-block;"><img style='height: 40px;
    vertical-align: middle;' src="img/mus.png">  {{getCat(infoPerfil.idCategoria) || '-' }}</div>
        <div style="    width: 40%;display: inline-block;"><img style='height: 40px;
    vertical-align: middle;'  src="img/precio.png">  {{infoPerfil.precioXhora || '-' }}</div>
</div>

        <h4 class="content padding double-padding-x">Conozcanos</h4>
        <div style='    width: 90%;
    margin-left: 5%;' class="list animate-fade-slide-in-right">




<p>
    
{{infoPerfil.descripcion || "No se ha agregado descripcion"}}

</p>

    <div style=" ">
<!-- 
    <a class="item" href="#" onclick="window.open('http://www.twitter.com/nraboy', '_system', 'location=yes'); return false;">
                Open a Twitter Client or Browser
            </a>
    
    <i style="color:#3b5998; font-size: 27px;" class='icon ion-social-facebook'  ng-click="abrirFace()" ><span style="    margin-left: 12px;
    font-size: 19px;">Siguenos en Facebook</span> </i>
 -->
   
</div>


        </div>

</div>

<div  ng-if="tipoTab == 'video'">

<div style="margin-top:20px ;margin-left:5%; margin-right:5%; border-bottom:2px solid #777;margin-bottom: 20px;"> <h4>Galeria</h4></div>

<!-- <ion-slide-box style='margin-left: 5%; width: 90%; height: 300px;' show-pager="true" does-continue="true" on-slide-changed="slideHasChanged($index)">

    <ion-slide  >
        <img style='height: 100%;width: 100%;' ng-src="{{urlImagenes}}artist2a1_{{idArtista}}.jpg" />
    </ion-slide>
    <ion-slide>
        <img style='height: 100%;width: 100%;' src="{{urlImagenes}}artista2_{{idArtista}}.jpg" />
    </ion-slide>
    <ion-slide>
        <img style='height: 100%;width: 100%;'  src="{{urlImagenes}}artista3_{{idArtista}}.jpg" />
    </ion-slide>

</ion-slide-box> -->


<div style="
    width: 90%;
    margin-left: 5%;
    text-align: center;

    padding-bottom: 20px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.47);
">
    <span style="
    font-size: 18px;
    color: #444;
    display: inherit;
    margin-bottom: 20px;
">Imagen 1 </span>
    <img style="width: 100%;" ng-src="{{urlImagenes}}artista1_{{idArtista}}.jpg" onerror="this.style.display='none'" >
  
<!--     <button ng-click="cambiarFoto(1)" style="color:#444 !important; margin-top: 10px;" class="button button-energized button-small">Cambiar</button>
 -->

     <button  ng-click="cambiarFoto(1)" style="color:#444 !important; margin-top: 10px;" class="button button-energized button-small">Cambiar</button>


</div>



<div style="
    width: 90%;
    margin-left: 5%;
    text-align: center;

    padding-bottom: 20px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.47);
    margin-top: 15px
">
    <span style="
    font-size: 18px;
    color: #444;
    display: inherit;
    margin-bottom: 20px;

">Imagen 2 </span>
    <img style="width: 100%;" ng-src="{{urlImagenes}}artista2_{{idArtista}}.jpg" onerror="this.style.display='none'" >
  
    <button  ng-click="cambiarFoto(2)" style="color:#444 !important; margin-top: 10px;" class="button button-energized button-small">Cambiar</button>


</div>



<div style="
    width: 90%;
    margin-left: 5%;
    text-align: center; margin-top: 15px
">
    <span style="
    font-size: 18px;
    color: #444;
    display: inherit;
    margin-bottom: 20px;
">Imagen 3 </span>
    <img style="width: 100%;" ng-src="{{urlImagenes}}artista3_{{idArtista}}.jpg" onerror="this.style.display='none'" >
  
    <button  ng-click="cambiarFoto(3)" style="color:#444 !important; margin-top: 10px;" class="button button-energized button-small">Cambiar</button>


</div>





<div style="margin-top:30px;margin-left:5%; margin-right:5%; border-bottom:2px solid #777;margin-bottom: 20px;"> <h4>Videos</h4></div>

<div style="width:90%; margin-left:5%; margin-bottom:20px">

<!-- <iframe style="margin-top:20px" width="100%" height="275" src="http://www.youtube.com/embed/O-HsW142T5g" frameborder="0" allowfullscreen></iframe> -->

<div style='color: #888; font-size: 20px; text-align: center' ng-show='infoPerfil.linkVideo1 == null && infoPerfil.linkVideo2 == null ' > No se han agregado videos </div>

<iframe ng-show='infoPerfil.linkVideo1 !== null ' style="margin-top:20px" width="100%" height="275" ng-src="{{trustSrc(infoPerfil.linkVideo1)}}" frameborder="0" allowfullscreen></iframe>


<iframe  ng-show='infoPerfil.linkVideo2 !== null ' style="margin-top:20px" width="100%" height="275" ng-src="{{trustSrc(infoPerfil.linkVideo2)}}" frameborder="0" allowfullscreen></iframe>



</div>


</div>

<div  ng-if="tipoTab == 'fotos'">
    
<div style="margin-top: 20px; margin-left:5%; margin-right:5%; border-bottom:2px solid #777;margin-bottom: 20px;"> <h4>Comentarios</h4></div>

    <div class="list card comentario" ng-repeat='c in comentarios' style="    margin-top: 25px;">

      <div class="item item-avatar" style="   min-height: 70px !important;
    
    border-bottom: 1px solid lightgray;">
        <img src="img/userBak.png">
        <h2 style="width: calc(100% - 70px);white-space: pre-line;
">{{c.nombre}}</h2>
        <div >                            
                            <i ng-class="{'estrellaAmarilla': c.calificacion >= 1, 'estrellaGris': c.calificacion < 1  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i ng-class="{'estrellaAmarilla': c.calificacion >= 2, 'estrellaGris': c.calificacion < 2  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i ng-class="{'estrellaAmarilla': c.calificacion >= 3, 'estrellaGris': c.calificacion < 3  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i ng-class="{'estrellaAmarilla': c.calificacion >= 4, 'estrellaGris': c.calificacion < 4  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>
                            <i ng-class="{'estrellaAmarilla': c.calificacion >= 5, 'estrellaGris': c.calificacion < 5  }" style='font-size: 24px; padding-left: 1px !important;' class="icon ion-android-star"></i>
                    </div>
                    <p style="
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 11px;
">{{c.fecha.split(" ")[0]}}</p>
      </div>

      <div class="item item-body" style="margin-bottom:17px;padding-top: 0px !important;padding-bottom: 0px !important;">
        
        <p>{{c.comentario}}</p>

      </div>

    </div>

    <div style='color: #888;
    font-size: 20px;
    text-align: center;' ng-hide="comentarios.length">No hay comentarios</div>



    








</div>




  


    </ion-content>





</ion-view>
