<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ion-md-input/css/ion-md-input.min.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
    <script src="lib/ion-md-input/js/ion-md-input.min.js"></script>


    <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>

    <script src="lib/ionic-timepicker/dist/ionic-timepicker.bundle.min.js"></script>

    <script src="lib/onezone-datepicker/dist/onezone-datepicker.min.js"></script>
    
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCokKFw_GhhNPBB4E2P4U069ynaGgvt7Jw"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-app="starter">
    <ion-nav-view ></ion-nav-view>


       <script id="detallePublicacion.html" type="text/ng-template">
      <ion-modal-view class="ion-nifty-modal3">


        <div  class="ion-modal-content-custom3">

                    <i style="     float: right;
    color: #ffc900 !important;
    font-size: 22px;
    position: absolute;
    right: 0;
    z-index: 33;"    ng-click='closeModal()' class="ion-android-cancel"></i>

          <ion-content class="padding">


<div>
        <p style="
    color: #ffc900 !important;
    font-family: UbuntuM;
    font-size: 20px;
">Cliente</p>
             <img src="img/solista.jpg" style="
    height: 63px;
    width: 63px;
    border-radius: 60px;
    vertical-align: top;
    ">
            <div style="
    display: inline-block;
       width: calc(100% - 70px);
    color: white;
    font-family: UbuntuL;
    padding-left: 16px;
">
                <p style="
    color: white !important;
    margin-bottom: 9px;
    margin-top: 5px;    font-size: 16px;
"><i class="ion-person" style="font-size: 18px; color: #ffc900 !important;margin-right: 3px;"></i>{{infoModal.nombre}}</p>
                <p style="
    color: white !important;
    margin-bottom: 0px !important;    font-size: 16px;
"><i class="ion-ios-telephone" style="font-size: 18px; color: #ffc900 !important;margin-right: 3px;"></i>{{infoModal.telefonoContacto}}</p>
            </div>

        </div>


<div style="
    margin-top: 25px;
    font-family: UbuntuL;
    font-size: 16px;
">
                   <p style="
    color: #ffc900 !important;
    font-family: UbuntuM;
    font-size: 20px;
">Evento</p>

<div style="margin-top:7px"> <i class="ion-bookmark" style="    font-size: 18px; color: #ffc900 !important;margin-right: 3px;"></i> Motivo: <i style="margin-left: 3px;">{{infoModal.motivo}}</i> </div>
<div style="margin-top:7px"> <i class="ion-ios-musical-note" style="   font-size: 18px; color: #ffc900 !important;margin-right: 3px;"></i> Categoria: <i style="margin-left: 3px;">{{getCat(infoModal.idCategoria)}}</i> </div>
<div style="margin-top:7px"> <i class="ion-location" style="    font-size: 18px;color: #ffc900 !important; margin-right: 3px;"></i> Ciudad: <i style="margin-left: 3px;">{{infoModal.ciudad}}</i> </div>
<div style="margin-top:7px"> <i class="ion-map" style="    font-size: 18px;color: #ffc900 !important; margin-right: 3px;"></i> Direccion: <i style="margin-left: 3px;">{{infoModal.direccion}}</i> </div>


        </div>
     
                
     
<div style="
    margin-top: 25px;
    font-family: UbuntuL;
    font-size: 16px;
">
      <!--              <p style="
    color: #ffc900 !important;
    font-family: UbuntuM;
    font-size: 20px;
">Acciones</p> -->

<button ng-show='!validarPost(infoModal.ids)'  ng-click='postularme(infoModal.idPublicacion, infoModal.idUsuario)' style='    border: solid 2px;
    min-width: 30px !important;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;' class="button button-small button-outline button-energized" >Postularme</button>

    <div style='font-family: UbuntuM;
color: lightgreen'  ng-show='validarPost(infoModal.ids)'>Ya te has postulado para esta publicacion</div>
    <button ng-show='validarPost(infoModal.ids)'  ng-click='cancelarPostularme(infoModal.idPublicacion)' style='    border: solid 2px;
    min-width: 30px !important;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;' class="button button-small button-outline button-energized" >Cancelar </button>



        </div>




               
          </ion-content>
        </div>
      </ion-modal-view>
    </script>





       <script id="detallePublicacion2.html" type="text/ng-template">
      <ion-modal-view class="ion-nifty-modal3">


        <div  class="ion-modal-content-custom3">

                    <i style="     float: right;
    color: #ffc900 !important;
    font-size: 22px;
    position: absolute;
    right: 0;
    z-index: 33;"    ng-click='closeModal()' class="ion-android-cancel"></i>

          <ion-content class="padding">


<div>
        <p style="
    color: #ffc900 !important;
    font-family: UbuntuM;
    font-size: 20px;
">Cliente</p>
             <img src="img/solista.jpg" style="
    height: 63px;
    width: 63px;
    border-radius: 60px;
    vertical-align: top;
    ">
            <div style="
    display: inline-block;
       width: calc(100% - 70px);
    color: white;
    font-family: UbuntuL;
    padding-left: 16px;
">
                <p style="
    color: white !important;
    margin-bottom: 9px;
    margin-top: 5px;    font-size: 16px;
"><i class="ion-person" style="font-size: 18px; color: #ffc900 !important;margin-right: 3px;"></i>{{infoModal.nombre}}</p>
                <p style="
    color: white !important;
    margin-bottom: 0px !important;    font-size: 16px;
"><i class="ion-ios-telephone" style="font-size: 18px; color: #ffc900 !important;margin-right: 3px;"></i>{{infoModal.telefonoContacto}}</p>
            </div>

        </div>


<div style="
    margin-top: 25px;
    font-family: UbuntuL;
    font-size: 16px;
">
                   <p style="
    color: #ffc900 !important;
    font-family: UbuntuM;
    font-size: 20px;
">Evento</p>

<div style="margin-top:7px"> <i class="ion-bookmark" style="    font-size: 18px; color: #ffc900 !important;margin-right: 3px;"></i> Motivo: <i style="margin-left: 3px;">{{infoModal.motivo}}</i> </div>
<div style="margin-top:7px"> <i class="ion-ios-musical-note" style="   font-size: 18px; color: #ffc900 !important;margin-right: 3px;"></i> Categoria: <i style="margin-left: 3px;">{{getCat(infoModal.idCategoria)}}</i> </div>
<div style="margin-top:7px"> <i class="ion-location" style="    font-size: 18px;color: #ffc900 !important; margin-right: 3px;"></i> Ciudad: <i style="margin-left: 3px;">{{infoModal.ciudad}}</i> </div>
<div style="margin-top:7px"> <i class="ion-map" style="    font-size: 18px;color: #ffc900 !important; margin-right: 3px;"></i> Direccion: <i style="margin-left: 3px;">{{infoModal.direccion}}</i> </div>


        </div>
     
                
     
<div style="
    margin-top: 25px;
    font-family: UbuntuL;
    font-size: 16px;
">
      <!--              <p style="
    color: #ffc900 !important;
    font-family: UbuntuM;
    font-size: 20px;
">Acciones</p> -->



        </div>




               
          </ion-content>
        </div>
      </ion-modal-view>
    </script>


    <script id="chat.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal">

    <div class="ion-modal-content-custom">
      <ion-content class="padding" delegate-handle="mainScroll">

      
   <ion-pane class="messaging-view">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Mensajes</h1>
      <button ng-click='closeModal()'>Cerrar</button>
    </ion-header-bar>

    <ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">


      <div ng-repeat='c in mensajesChat'
           ng-class="{other: idUsuarioEmisor==c.idEmisor}"
           class="messages">

        <div class="message" ng-class="{'slide-right': idUsuarioEmisor==c.idEmisor, '': !idUsuarioEmisor==c.idEmisor}">
          <span style="margin-right: 15px;" class='ss'>{{c.textoMensaje}} <br>  <i style="opacity: 0.5;">{{c.fecha}}</i></span>
        </div>

        <div class="time" ng-class="{'slide-right': idUsuarioEmisor==c.idEmisor, '': !idUsuarioEmisor==c.idEmisor}"></div>


      </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
         <input type="text" ng-model='textoAEnviar' placeholder="Escribe tu mensaje"  />
      <!--  <textarea type="text" ng-model='textoAEnviar' placeholder="Escribe tu mensaje"  ></textarea> -->
      </label>
      <button style='color:black' class="button button-clear" ng-click="enviarMensaje(textoAEnviar);textoAEnviar=''">
        <i class='ion-android-send'></i>
      </button>
    </ion-footer-bar>
  </ion-pane>
          

      </ion-content>
    </div>
  </ion-modal-view>
</script>










</body>
</html>
